<!DOCTYPE html>
<html>
    <script>
        function predictForm() {
          // Get the form element
          var form = document.getElementById('predict');
          
          // Submit the form
          form.submit();
        }
    </script>
    <style>
      a {
          text-decoration: none;
        }
        
        /* Add this style to remove the box outline for input fields */
        input {
          border: none;
          outline: none;
        }
        
        /* Add this style to position the placeholder text within the input fields */
        .input-wrapper {
          position: relative;
        }
        
        .input-wrapper input:focus::placeholder {
          opacity: 0;
        }
        
        .input-wrapper input::placeholder {
          opacity: 1;
          transition: opacity 0.2s ease;
        }
      </style>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" /><link href="/static/listform.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v6_254">
            <a href="/home1" class="v6_255">HOMELY</a>
            <div class="v6_256"></div>
            <span class="v6_318">Add Property Details</span>
            <form id="predict" method="POST" action="/predicted/">
                {% csrf_token %}
            <div class="v6_563">
                <div class="v6_561"></div>
                <input type="text" class="v6_562" name="property_name" placeholder="Property Name" required>
            </div>
            <div class="v48_8">
                <div class="v48_9"></div>
                <input type="number" class="v48_10" name="price" placeholder="Price" required>
            </div>
            <div class="v6_634">
                <div class="v6_635"></div>
                <input type="text" class="v6_636" name="description" placeholder="Description" required>
            </div>
            <div class="v6_637">
                <div class="v6_638"></div>
                <span class="v6_639">Upload Images</span>
                <div class="v6_640">
                    <div class="v6_641"></div>
                </div>
            </div>
            <div class="v6_564">
                <div class="v6_565"></div>
                <input type="number" step="any" class="v6_566" name="latitude" placeholder="Latitude" required>
            </div>
            <div class="v6_567">
                <div class="v6_568"></div>
                <input type="number" step="any" class="v6_569" name="longitude" placeholder="Longitude" required>
            </div>
            <div class="v6_577">
                <div class="v6_578"></div>
                <input type="number" step="any" class="v6_579" name="parking_space" placeholder="Parking Space" required>
            </div>
            <div class="v48_11">
                <div class="v48_12"></div>
                <span class="v48_13">{% if EstimatedPrice %}{{ EstimatedPrice }}{% else %}Estimated Price{% endif %}</span>
            </div>
            <div class="v150_2">
                <div class="v150_3">
                </div>
                <a href="javascript:void(0)" onclick="predictForm()" class="v150_4">Show Price</a>
            </div>
            <div class="v6_592">
                <div class="v6_593"></div>
                <input type="number" class="v6_594" name="floors" placeholder="Floors" required>

            </div>
            <div class="v6_580">
                <div class="v6_581"></div>
                <input type="number" step="any" class="v6_582" name="garage_space" placeholder="Garage Space" required>

                
              </div>
              <div class="v6_598">
                <div class="v6_599"></div>
                <input type="number" step="any" class="v6_600" name="cooling" placeholder="Cooling" min="0" max="1" required>

            
              </div>
              <div class="v6_604">
                <div class="v6_605"></div>
                <input type="number" step="any" class="v6_606" name="heating" placeholder="Heating" min="0" max="1" required>

                
              </div>
              <div class="v6_610">
                <div class="v6_611"></div>
                <input type="number" step="any" class="v6_612" name="association" placeholder="Association" min="0" max="1" required>
                
              </div>
              <div class="v6_616">
                <div class="v6_617"></div>
                <input type="number" step="any" class="v6_618" name="bedrooms" placeholder="Bedrooms" required>
                
              </div>
              <div class="v6_622">
                <div class="v6_623"></div>
                <input type="number"  step="any" class="v6_624" name="bathrooms" placeholder="Bathrooms" required>
                
              </div>
              <div class="v6_628">
                <div class="v6_629"></div>
                <input type="number" step="any" class="v6_630" name="spa" placeholder="Spa" min="0" max="1" required>
                
              </div>
              <div class="v6_574">
                <div class="v6_575"></div>
                <input type="number" step="any" class="v6_576" name="area" placeholder="Area" required>
              </div>
              <div class="v6_570">
                <div class="v6_571"></div>
                <input type="text" class="v6_572" name="address" placeholder="Address" required>
              </div>
              <button type="submit" style="display: none;"></button>
              </form>
              <div class="v48_32">
                <div class="v48_33">
                  <div class="v48_34"></div>
                  <div class="v48_35"></div>
                </div>
              </div>
              <div class="v112_2">
                <div class="v112_3"></div>
                <span class="v112_4">SUBMIT</span>
              </div>
              
        </div>
    </body>
    </html>